<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-11">
			
               <a href="/segments/choose/" class="btn btn-primary btn-large">Start</a>
            </div>
        </div>
     	</div>
	</div>      	
</div>