		<div id="footer">
			<div class="container">
				<div class="row">
			
			        <div class="col-xs-12 col-sm-10 col-lg-9 mt30">
						&copy; <?php echo date('Y'); ?> <?php echo __("Hotelschool Den Haag. Alle rechten voorbehouden. De Marktpositie Analyse Tool is ontwikkeld door <a href='http://www.inquota.nl/' title='inQuota Webdevelopment'>inQuota</a>.");?> 
       			</div> 
      
		     </div>
		</div>
		</div>
	</div>
	
	<script language="JavaScript1.2" type="text/javascript" src="/js/script.js"></script>
	
</body>
</html>