/**
 * 	style.css
 * 	@author: Jarah de Jong
 * Custom stylesheet or override defaults
 */

h1,h2,h3,h4 {
	font-family: 'PT Sans Narrow', sans-serif;
}

p {
	line-height: 1.6em;
}

table th {
	font-size: 90%;
}

#content {
	margin-top: 2%;
}

input[type="text"]{
	font-size: 110%;
}

.form-segments button[type="submit"]{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 160%;
	padding: 15px;
}

.panel-title {
	font-weight: bold;
	font-size: 160%;
}

.abrv {
	text-transform: uppercase;
}

.default-block {
	border-top: 4px solid #175c85;
	color: #ffffff;
	background: #1d72a6;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-bottom: 20px;
}

.navbar-nav > li > a {
	padding-bottom: 35px;
	padding-top: 35px;
	font-weight: bold;
}

@media (max-width: 600px) {
 	#logo_sia {
 		display: none;
 	}
}

.mt30 {
	margin-top: 30px;
}

#content {
	min-height: 518px;
}

#footer {
	background: #1d72a6;
	color: #fff;
	padding-bottom: 10px;
}
	#footer a {
		color: #fff;
		font-weight:bold;
	}
